header{
  border: solid 5px #BC5072;
}
main{
  border: solid 5px #BC5072;
}
aside{
  border: solid 5px #BC5072;
}
footer{
  border: solid 5px #BC5072;
}
nav{
  border: solid 5px #BC5072;
}
img{
  width: 300px;
}

h1, h2, h3{
  color: #F7DEDE;
  font-family: 'Yellowtail', cursive;
  font-size: 175%;
}
h1{
  font-size: 250%;
}
body{
  background-color: #754646;
  color: #F59393;
  font-family: 'Montserrat', sans-serif;
}
p{
  padding: 5px;
}
a{
  text-decoration: none;
  color: #F59393;
  text-decoration: underline;
}
