body{
    color: #6b163a;
    margin: 0px;
    font-family: "Merriweather", "TeX Gyre Adventor", sans-serif;

}
#objective {
    background-color: #d66d9a;
    margin: 0px;
    padding: 10px;
}
#difficulties {
    background-color: #e38ab0;
    padding: 10px;
}
#results {
    background-color: #fac3da;
    padding: 10px;
}
p{
    font-size: 100%;
    padding: 20px;
    font-style: italic;
}
h1, h2, h3 {
    color: #1c7678;

}
figure {
  position: absolute;
    left: 1070px;
    top: 20px;
    z-index: 1;
    width: 300px;
    border: dotted 10px white;
}
figcaption {
  background-color: #6b163a;
  color: white;
  text-align: center;
c}

nav{
  font-family:"Amatic SC", "TeX Gyre Adventor", sans-serif;
  color: #6b163a;
  text-align: center;
}
